body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgb(109, 230, 109),
    rgb(67, 67, 230),
    rgb(228, 82, 82),
    rgb(230, 230, 68)
  );
}

.container {
  padding: 12%;
}

input {
  width: 230px;
  height: 40px;
  text-align: end;
  font-size: 28px;
  color: white;
  background-color: rgb(13, 151, 98);
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}

button {
  width: 50px;
  height: 50px;
  background-color: rgb(84, 84, 231);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.operator,
.operator_equal,
.clear {
  width: 50px;
  height: 50px;
  background-color: orange;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.operator_equal {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 3px;
}

button:hover {
  background-color: hsl(6, 67%, 57%);
}
